/* Design 1 Styles: */ 

.design-1__big-title {

}

.design-1__card-wrapper {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	font-family: $roboto;
}

.design-1-card__dimensions {
	position: relative;
	height: 2in;
	width: 3.5in;
	padding: .08in;
	margin: .5em;
	border: 1px solid black;
}

.design-1-card__content {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr auto auto auto 1fr;
	grid-template-areas: '. .'
						 '. name'
						 '. title'
						 '. .'
						 'label-url url'
						 'label-email email'
						 'label-phone phone'
						 '. .';
	align-items: center;
	height: 1.84in;
	width: 3.34in;
	line-height: 1.2;
}

// Stripes: //

[class*="design-1-card__stripes-"] {
	position: absolute;
	display: grid;
	grid-auto-rows: 1fr;
	align-items: end;
}

.design-1-card__stripes-1 {
	top: 0;
	left: 0;
	height: calc(2 * 12px);
	transform: rotate(-35deg) translate(-5px, -8px);
	.design-1-stripes__stripe:nth-of-type(2) {
		width: 80px;
		transform: translate(-8px, 0);
	}
}

.design-1-card__stripes-2 {
	bottom: 0;
	right: 0;
	height: calc(3 * 14px);
	transform: rotate(-35deg) translate(4px, 8px);
	.design-1-stripes__stripe:nth-of-type(1) {
		width: 140px;
		transform: translate(27px, 5px);
	}
	.design-1-stripes__stripe:nth-of-type(2) {
		justify-self: end;
		width: 100px;
		transform: translate(9px, 7px);
	}
	.design-1-stripes__stripe:nth-of-type(3) {
		width: 65px;

		justify-self: end;
		transform: translate(-2px, 8px);
	}
}

.design-1-stripes__stripe {
	height: 4px;
	width: 80px;
	background-color: hsla(0,0,0,30%);
}

// Front: //

.design-1-card__name {
	grid-area: name;
	font-family: $oswald;
	font-size: 1.5em;
	text-transform: uppercase;
}

.design-1-card__title {
	grid-area: title;
	font-family: $oswald;
	font-size: 1.5em;
	text-transform: uppercase;
}

[class*="design-1-card__"][class*="--label"] {
	justify-self: end;
	padding-right: .5em;
}

.design-1-card__url {
	grid-area: url;
}

.design-1-card__url--label {
	grid-area: label-url
}

.design-1-card__email {
	grid-area: email;
}

.design-1-card__email--label {
	grid-area: label-email;
}

.design-1-card__number {
	grid-area: phone;
}

.design-1-card__number--label {
	grid-area: label-phone;
}

// Back of card:

.design-1-card__back {
	position: relative;
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: 'tabs'
						 'url'
						 'site';
	* {
		border: 1px solid gray;
	}
}

.design-1-back__tabs {
	grid-area: tabs;
	display: flex;
	font-size: 12px;
	border-width: 0px;
}

.design-1-tabs__tab {
	padding: 2px;
	background-color: gray;
	border: 1px solid hsla(0,0,0,20%);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.design-1-back__url {
	grid-area: url;
	font-size: 12px;
	background-color: gray;
}

.design-1-url__url-holder {
	margin: 1px 1rem;
	padding: 1px;
	background-color: white;
	border-width: 0px;
	border-radius: 5px;
}

.design-1-url__url-text {
	border-width: 0px;
	padding-left: 5px;
}

.design-1-back__content {
	grid-area: site;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'title images'
						 'text images';
}

.design-1-content__title {
	grid-area: title;
}

.design-1-content__title-text {

}

.design-1-content__content {
	grid-area: text;
	height: 100%;
}

.design-1-content__content-text {

}

.design-1-content__images {
	grid-area: images;
	display: grid;
}

.design-1-images__image {
	height: 100%;
}