/* Design 1 Styles: */ 

.design-1__big-title {

}

.design-1__card-wrapper {
	position: relative;
	display: flex;
}

.design-1-card__dimensions {
	height: 2in;
	width: 3.5in;
	padding: .08in;
	margin: .5em;
	border: 1px solid black;
}

.design-1-card__content {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr auto auto auto 1fr;
	grid-template-areas: '. .'
						 '. name'
						 '. title'
						 '. .'
						 'label-url url'
						 'label-email email'
						 'label-phone phone'
						 '. .';
	align-items: center;
	height: 1.84in;
	width: 3.34in;
	line-height: 1.2;
	border: 1px solid gray;
}

.design-1-card__name {
	grid-area: name;
	font-family: $oswald;
	font-size: 1.5em;
	text-transform: uppercase;
}

.design-1-card__title {
	grid-area: title;
	font-family: $oswald;
	font-size: 1.5em;
	text-transform: uppercase;
}

[class*="design-1-card__"][class*="--label"] {
	justify-self: end;
	padding-right: .5em;
}

.design-1-card__url {
	grid-area: url;
}

.design-1-card__url--label {
	grid-area: label-url
}

.design-1-card__email {
	grid-area: email;
}

.design-1-card__email--label {
	grid-area: label-email;
}

.design-1-card__number {
	grid-area: phone;
}

.design-1-card__number--label {
	grid-area: label-phone;
}