/* Design 1 Styles: */ 

.design-1__big-title {

}

.design-1__card-wrapper {

}

.design-1-card__dimensions {
	height: 2in;
	width: 3.5in;
	padding: .16in;
	border: 1px solid black;
}

.design-1-card__content {
	line-height: 1;
}

.design-1-card__name {

}

.design-1-card__title {

}

.design-1-card__email {

}

.design-1-card__number {

}

.design-1-card__url {

}

.design-1-card__twitter {

}

.design-1-card__github {

}